In [296]:
import pandas as pd

In [297]:
df_etaty = pd.read_csv('SIO etaty.csv')
df_staniny = pd.read_csv('staniny2022.csv')
df_subwencja = pd.read_csv('subwencja_2022.csv')
df_sio = pd.read_csv('SIO_30.09.2021.csv')

Clean staniny

In [298]:
df_staniny = df_staniny.rename(columns={'Staniny egzaminów 2022 r.': 'Nazwa szkoły / placówki'})

Clean etaty

In [299]:
cols_to_keep = [
    'Nazwa szkoły / placówki',
    'Etat - umowa',
    'Etat - godziny ponadwymiarowe',
    'Etat niesubwencyjny - formy zatrudnienia inne niż KN',
    'Etat niesubwencyjny - nieobecności',
    'Etat subwencyjny - ogółem',
    'Etat subwencyjny - bez stopnia awansu',
    'Etat subwencyjny - mianowany',
    'Etat subwencyjny - dyplomowany',
    'Etat niesubwencyjny - ogółem',
]

df_etaty = df_etaty[df_etaty['Typ szkoły / placówki'] == 'Szkoła podstawowa']
df_etaty = df_etaty[cols_to_keep]

Clean SIO

In [300]:
ps = [f"P{i}" for i in range(1,73)]

In [301]:
df_sio = df_sio.rename(columns={'Nazwa szkoły/placówki': 'Nazwa szkoły / placówki'})

cols_to_keep = [
    'Nazwa szkoły / placówki',
    'Liczba uczniów',
    'Liczba uczniów na wsi',
    'Liczba uczniów w mieście do 5tys.',
    'Liczba uczniów poza szkołą',
]
cols_to_keep.extend(ps)

df_sio = df_sio[df_sio['Typ szkoły/placówki'] == 'Szkoła podstawowa']
df_sio = df_sio[cols_to_keep]

---

In [302]:
mini_merge_df = df_etaty.merge(df_staniny, on='Nazwa szkoły / placówki', how='inner')
mini_merge_df = mini_merge_df.merge(df_sio, on='Nazwa szkoły / placówki', how='inner')

Dodanie subwencji

In [303]:
def get_float(row, field_name):
  vals = [float(str(val).replace(' ', '').replace(',', '.')) for val in row[field_name].values]
  if len(vals) > 1:
    return vals
  else:
    return vals[0]

In [304]:
subw_per_type = {}

for p in ps:
  row = df_subwencja[df_subwencja['Kategoria uczniów (shortcut)'] == p]
  total_val = get_float(row, 'Kwota razem w zł')
  students = get_float(row, 'Uczniowie przelicz.')

  subw_per_stud = total_val/students if students else 0.0
  subw_per_type[p] = subw_per_stud

In [305]:
giga_merge_df = mini_merge_df.copy()

In [306]:
for col, weight in subw_per_type.items():
    new_col = f"{col}_subwencja_total"
    giga_merge_df[col] = get_float(giga_merge_df, col)
    giga_merge_df[new_col] = giga_merge_df[col] * weight

<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight
<ipython-input-306-4620af1b61b1>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  giga_merge_df[new_col] = giga_merge_df[col] * weight

In [307]:
giga_merge_df

,Nazwa szkoły / placówki,Etat - umowa,Etat - godziny ponadwymiarowe,Etat niesubwencyjny - formy zatrudnienia inne niż KN,Etat niesubwencyjny - nieobecności,Etat subwencyjny - ogółem,Etat subwencyjny - bez stopnia awansu,Etat subwencyjny - mianowany,Etat subwencyjny - dyplomowany,Etat niesubwencyjny - ogółem,...,P63_subwencja_total,P64_subwencja_total,P65_subwencja_total,P66_subwencja_total,P67_subwencja_total,P68_subwencja_total,P69_subwencja_total,P70_subwencja_total,P71_subwencja_total,P72_subwencja_total
0,SZKOŁA PODSTAWOWA NR 5 IM. HENRYKA SIENKIEWICZA,"29,91","4,31","0,00","0,00","29,91","6,50","8,61","14,80","0,00",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,SZKOŁA PODSTAWOWA NR 6 IM. MARII SKŁODOWSKIEJ ...,"43,97","7,29","0,00","0,00","43,97","4,61","17,87","21,49","0,00",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,SZKOŁA PODSTAWOWA NR 4 IM. MIKOŁAJA KOPERNIKA ...,"25,43","4,94","0,00","0,00","25,43","1,95","8,78","14,70","0,00",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,SZKOŁA PODSTAWOWA NR 9 IM.WŁ.JAGIEŁŁY W KUTNIE,"66,71","16,92","0,00","2,00","64,71","8,56","8,55","47,60","2,00",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,SZKOŁA PODSTAWOWA NR 1 IM.TADEUSZA KOŚCIUSZKI ...,"92,66","14,91","0,00","5,00","87,66","10,00","25,33","52,33","5,00",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,SZKOŁA PODSTAWOWA NR 2 IM. MARSZAŁKA JÓZEFA PI...,"30,51","3,43","0,00","0,00","30,51","5,00","3,83","21,68","0,00",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,SZKOŁA PODSTAWOWA NR 7 IM. ADAMA MICKIEWICZA,"32,17","3,50","0,00","0,00","32,17","4,00","8,95","19,22","0,00",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Normalize

In [308]:
for col in giga_merge_df.columns:
  if col != 'Nazwa szkoły / placówki':
    giga_merge_df[col] = get_float(giga_merge_df, col)

In [309]:
giga_merge_df.to_csv('giga_merge.csv')

---

In [310]:
df_dochody = pd.read_csv('dochody_2022.csv')
df_wydatki = pd.read_csv('wydatki_2022.csv')

Clean dochody

In [311]:
df_dochody = df_dochody.rename(columns={'Nazwa': 'Nazwa szkoły / placówki'})

names_to_replace = {
    "Szkoła Podstawowa Nr 5": "SZKOŁA PODSTAWOWA NR 5 IM. HENRYKA SIENKIEWICZA",
    "Szkoła Podstawowa Nr 6": "SZKOŁA PODSTAWOWA NR 6 IM. MARII SKŁODOWSKIEJ - CURIE W KUTNIE",
    "Szkoła Podstawowa Nr 4": "SZKOŁA PODSTAWOWA NR 4 IM. MIKOŁAJA KOPERNIKA W KUTNIE",
    "Szkoła Podstawowa Nr 9": "SZKOŁA PODSTAWOWA NR 9 IM.WŁ.JAGIEŁŁY W KUTNIE",
    "Szkoła Podstawowa Nr 1": "SZKOŁA PODSTAWOWA NR 1 IM.TADEUSZA KOŚCIUSZKI W KUTNIE",
    "Szkoła Podstawowa Nr 2": "SZKOŁA PODSTAWOWA NR 2 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO",
    "Szkoła Podstawowa Nr 7": "SZKOŁA PODSTAWOWA NR 7 IM. ADAMA MICKIEWICZA"
}
cols_to_keep = [
    'Nazwa szkoły / placówki',
    'DW',
    'Paragraf'
]
df_dochody.replace(names_to_replace, inplace=True)
df_dochody = df_dochody[cols_to_keep]

df_dochody['DW'] = get_float(df_dochody, 'DW')

Clean wydatki

In [312]:
df_wydatki = df_wydatki.rename(columns={'Nazwa': 'Nazwa szkoły / placówki'})

cols_to_keep = [
    'Nazwa szkoły / placówki',
    'WW',
    'Paragraf'
]

df_wydatki.replace(names_to_replace, inplace=True)
df_wydatki = df_wydatki[cols_to_keep]

df_wydatki['WW'] = get_float(df_wydatki, 'WW')

In [313]:
df_dochody.to_csv('dochody_clean.csv')

In [314]:
df_wydatki.to_csv('wydatki_clean.csv')